/* General body styling */
body {
    font-family: "Arial", sans-serif;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #dbcfcf;
    color: rgb(10, 125, 79);
    /* Light gray background */
  }
  
  /* Header and navigation styles */
  header {
    background-color: #10baa7;
    /* A deep blue color */
    color: rgb(5, 78, 67);
    padding: 10px 20px;
  }
  
  .cta,a {
    color: rgb(5, 78, 67);
    text-decoration: none;
    margin-right: 20px;
  }
  a:hover{
    color: red;
  }
  
  /* Footer styles */
  footer {
    background-color: #333333;
    /* Very dark gray, almost black */
    color: white;
    text-align: center;
    padding: 10px 20px;
  }
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small screens */
  header {color: red;}
}
 
/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for small screens */
  
}
 
/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for medium screens */
  header{color: blue;}
  nav{display:inline-block;}
}
 
/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px)  {
  /* CSS rules for large screens */
  header{color: rgb(119, 255, 0);}
  nav{display:inline-block;}
}
 
